/* Some general stuff */

body{
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: "Open Sans";
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#E5E7EB;
}

img{
    max-width: 100%; max-height: 100%;
}

/* Styling for the header */

.header, .post-header, .footer{
    background-color: #1f2937;
    color:white;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.header .links{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap:20px;
}

/* Styling for post-header */

.post-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    padding:50px 0;
}
.text{
    font-size: 18px; color:#E5E7EB;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-basis: 510px;
}

.signup{
    width: 120px;
    height: 30px;
    background-color:#3882F6;
    border-radius: 10px;
    border:0;
    color:white;
    font-weight: 700;
    font-size: 16px;
}

.post-header *{
    margin:5px 0;
}

/* Styling for illustrations */

.illustrations{
    padding-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    gap:20px;

}

.illustrations .header-text{
    font-size: 36px;
    font-weight: 700;
    color:#1f2937;
}

.illustrations .blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:40px;
}

.illustrations .blocks .block .imagebox{
    width: 150px;
    height: 150px;
    border: solid 5px #3882F6;
    border-radius: 20px;
}

.illustrations .blocks .block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis:150px;
    text-align: center;
    font-size: 16px;
    color:#3a4452;
}

/* Styling for Quote */

.quote-block{
    padding-top:70px;
    padding-bottom: 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-block .quote{
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    width: 800px;
    margin: 0;
}

.quote-block .author{
    margin:0;
    padding:0;
    margin-left: 450px;
    font-size: 25px;
    font-weight: 700;
}

/* Styling for singup-block */

/* .signup-block{
    margin:100px;
    background-color: #3882F6;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 140px;
} */

.signup-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px;
}

.inner{
    background-color: #3882F6;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:40px 100px;
    gap:20px
}
.inner h1{
    margin: 0;
    padding:0;
    font-size: 25px;
}

.inner p{
    margin:0;
    font-size: 16px;
}

.signup#background{
    border: solid 2px white;
}


/* Styling for footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    gap:8px;
    font-size: 15px;
}
